body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Center elements vertically */
}

h1 {
    color: black;
    font-size: 36px;
}

form {
    display: none;
    text-align: center;
    background-color: #92cd81;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 2px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(16, 24, 74);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

label {
    font-weight: bold;
}

label#Print {
    color: red;
    font-weight: bold;
}

#welcome {
    color: black;
    font-size: 36px;
    animation: slideDown 1s ease-in-out;
    transition: top 1s ease-in-out;
}

#welcome2 {
    color: black;
    font-size: 36px;
}

#logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes slideDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Keyframes for fading in the form */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}